<h1>Listing users</h1>

<table>
  <tr>
    <th>profile pic</th>
    <th>Uid</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Location</th>
    <th>Relationship_status</th>
    <th>Interested_in</th>
    <th>Birthday</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag (user.picture) %></td>
    <td><%= user.uid %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.gender %></td>
    <td><%= user.location %></td>
    <td><%= user.relationship_status %></td>
    <td><%= user.interested_in %></td>
    <td><%= user.birthday.strftime("%d-%b-%Y") %></td>
    <td><%= user.country %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>


<br />

<%= link_to 'New User', new_user_path %>

